.oNamaTitleText{
    font-family: Montserrat;
    color:white;
    z-index: 3;
    padding: 3em 30em 7em 3em;
    font-size: x-large;
}

.oNamaTekst{
    font-size: xxx-large;
}

@media only screen and (max-width: 1024px) {
    .oNamaTitleText{
        padding: 3em 2em;
    }
  }