.oNamaTitleText{
    font-family: Montserrat;
    color:white;
    position:absolute;
    z-index: 3;
    padding: 5em 30em 7em 5em;
    font-size: x-large;
}

.oNamaTekst{
    font-size: xxx-large;
}