.carousel{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height:300px;
}
.carousel_text{
    color:white;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
}

.shop_button{
    color: white;
    background-color: #FF5E6C;
    border-radius: 12px;
    font-size: x-large;
    outline:none;
    border: none;
    font-family: Montserrat;
    padding: 10px 20px 10px 30px;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .carousel_text{
        display:none;
    }
  }