.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F4EF;
    font-family: Montserrat;
}

.article_title{
    font-size: xxx-large;
    text-align: center;
    width: 75%;
}

.back_button{
    padding: 1em;
    font-size: x-large;
    background-color: #F8F4EF;
    width: 100px;
    border-radius: 10px;
}

.back_button:hover{
    background-color: #DCC7AA;
}

.blog_img{
    width: 50%;
    padding: 2em;
}

.writer{
    font-style: italic;
    padding: 2em;
}

.article_text{
    width: 50%;
    font-size: larger;
    font-weight: 100;
}