.shopProducts {
    width: 80%;
    background-color: #f8f4ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.productSection {
    width: 85%;
    height: 32%;
    background-color: #F0E7DA;
    border-radius: 12px;
    border: 2px solid #C4C4C4;
    display: flex;
}

.sectionTitle {
    width: 85%;
    text-align: left;
    font-family: 'Montserrat';
    font-size: xx-large;
    font-weight: bold;
    margin: 5% 0;
}

.productImage {
    min-width: 300px;
    min-height: 300px;
}