.shopProductsMain {
    width: 80%;
    background-color: #f8f4ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.shopProductsSub {
    width: 80%;
    background-color: #f8f4ef;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.offerSection {
    width: 90%;
    height: 370px;
    background-color: #F0E7DA;
    border-radius: 12px;
    border: 2px solid #C4C4C4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.offerSection::-webkit-scrollbar {
    border-radius: inherit;
}

.offerSection::-webkit-scrollbar-thumb {
    border-radius: inherit;
    background-color: #DCC7AA;
}

.offerSection::-webkit-scrollbar-thumb:hover {
    background-color: rgba(220, 199, 170, 0.7);
}

.offerSection::-webkit-scrollbar-track {
    background-color: #f8f4ef;
    border:solid 2px rgba(220, 199, 170, 0.3);
    border-radius: inherit;
}

.sectionTitle {
    width: 90%;
    text-align: left;
    font-family: 'Montserrat';
    font-size: xx-large;
    font-weight: bold;
    padding: 3% 0;
}

.backButton {
    padding: 2%;
    font-size: x-large;
    border-radius: 10px;
}

.backButton:hover {
    cursor: pointer;
    background-color: #DCC7AA;
}

.productCard {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 17px;
    width: 200px;
    height: 300px;
    padding: 20px 30px 25px;
    margin: 5px 20px;
    border-radius: 10px;
}

.productCard:hover {
    cursor: pointer;
    background-color: #DCC7AA;
}

.productImage {
    width: 200px;
    height: 200px;
}