.body{
    display:flex;
    flex-direction: row;
}
.oNamaTekst{
    background-color: #F8F4EF;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0em 2em 2em;
}

.oNamaTekstNaslov{
    font-size: xx-large;
}