.header {
    display: flex;
    flex-direction: row;
    background-color: #DCC7AA;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position:sticky;
    top:0;
    z-index: 100;
  }

.logo {
  margin-left: 20px;
}

.mobileDummy {
  display: none;
  width: 30px;
}

@media only screen and (max-width: 1024px) {
  .mobileDummy {
    display: block;
  }
}
