.header {
    display: flex;
    flex-direction: row;
    background-color: #DCC7AA;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

.logo {
  margin-left: 20px;
}